name: sharing-vision
services:
  db:
    image: mysql:8.0
    container_name: sv_mysql
    env_file:
      - .env.docker
    command:
      [
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_ci",
      ]
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped
    ports:
      - "3306:3306"
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sv_api
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: unless-stopped

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sv_migrate
    env_file:
      - .env.docker
    command: ["/app/migrate", "-dir", "/app/migrations", "-action", "up"]
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
networks:
  default:
    name: sv_net
volumes:
  mysql_data:
    driver: local
